<!doctype html>
<html>
<head>
  <title>Modsched 2022</title>
</head>
<body>
  <h1>Login</h1>
  <form action='https://codermerlin.com/vapor/reese-hoffart/home'>
    <input type="text" name="studentId">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
